# -----------------------------------------------------------------------------
# Web Information
# -----------------------------------------------------------------------------
NEXT_PUBLIC_WEB_URL = "http://localhost:3000"
NEXT_PUBLIC_PROJECT_NAME = "AIGXT"

# -----------------------------------------------------------------------------
# Database with Supabase
# -----------------------------------------------------------------------------
# https://supabase.com/docs/guides/getting-started/quickstarts/nextjs
# Set your Supabase DATABASE_URL
DATABASE_URL = "DATABASE_URL="postgresql://postgres.tpjlxzatbpaabxjqmyet:@Lyl125800@aws-0-us-east-1.pooler.supabase.com:6543/postgres""

# -----------------------------------------------------------------------------
# Auth with next-auth
# https://authjs.dev/getting-started/installation?framework=Next.js
# Set your Auth URL and Secret
# Secret can be generated with `openssl rand -base64 32`
# -----------------------------------------------------------------------------
AUTH_SECRET = "zb2TEb1+GfnBL/HgCUEvjy5TLH9EZNFL2JsYbz1Nr/M="
AUTH_URL = "http://localhost:3000/api/auth"
AUTH_TRUST_HOST = true

# disable auth if needed
# NEXT_PUBLIC_AUTH_ENABLED = "false"

# Google Auth
# https://authjs.dev/getting-started/providers/google
AUTH_GOOGLE_ID = "301894820550-29va4g7rjn2q9voi7q9pgooucp87kcil.apps.googleusercontent.com"
AUTH_GOOGLE_SECRET = "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"
NEXT_PUBLIC_AUTH_GOOGLE_ID = "301894820550-29va4g7rjn2q9voi7q9pgooucp87kcil.apps.googleusercontent.com"
NEXT_PUBLIC_AUTH_GOOGLE_ENABLED = "true"
NEXT_PUBLIC_AUTH_GOOGLE_ONE_TAP_ENABLED = "true"

# Github Auth
# https://authjs.dev/getting-started/providers/github
AUTH_GITHUB_ID = "Ov23lifRJbe2aGz4TaJo"
AUTH_GITHUB_SECRET = "2e70ff3388bd5600ed7fa4306130e2c0c188b655"
NEXT_PUBLIC_AUTH_GITHUB_ENABLED = "true"

# -----------------------------------------------------------------------------
# Analytics with Google Analytics
# https://analytics.google.com
# -----------------------------------------------------------------------------
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID = "G-6F2PQ514FJ"
NEXT_PUBLIC_CLARITY_ID = "G-6F2PQ514FJ"
# -----------------------------------------------------------------------------
# Analytics with OpenPanel
# https://openpanel.dev
# -----------------------------------------------------------------------------
NEXT_PUBLIC_OPENPANEL_CLIENT_ID = "7ebf35e8-0b12-48d9-8b58-4d7e769bd8ef"

# Analytics with Plausible
# https://plausible.io/
NEXT_PUBLIC_PLAUSIBLE_DOMAIN = ""
NEXT_PUBLIC_PLAUSIBLE_SCRIPT_URL = ""

# -----------------------------------------------------------------------------
# Payment with Stripe
# https://docs.shipany.ai/features/payment/stripe
# -----------------------------------------------------------------------------
STRIPE_PUBLIC_KEY = ""
STRIPE_PRIVATE_KEY = ""
STRIPE_WEBHOOK_SECRET = ""

# -----------------------------------------------------------------------------
# Payment with Creem
# https://docs.shipany.ai/features/payment/creem
# -----------------------------------------------------------------------------
CREEM_ENV = ""
CREEM_API_KEY = ""
CREEM_WEBHOOK_SECRET = ""
CREEM_PRODUCTS = ''

PAY_PROVIDER = "stripe"

NEXT_PUBLIC_PAY_SUCCESS_URL = "/my-orders"
NEXT_PUBLIC_PAY_FAIL_URL = "/pricing"
NEXT_PUBLIC_PAY_CANCEL_URL = "/pricing"

NEXT_PUBLIC_LOCALE_DETECTION = "false"

ADMIN_EMAILS = "aibesttop@gmail.com"

NEXT_PUBLIC_DEFAULT_THEME = "system"

# -----------------------------------------------------------------------------
# Storage with aws s3 sdk
# https://docs.aws.amazon.com/s3/index.html
# -----------------------------------------------------------------------------
STORAGE_ENDPOINT = "https://131b8472f4f5e378b93d7736179a1702.r2.cloudflarestorage.com/aigxt"
STORAGE_REGION = "auto"
STORAGE_ACCESS_KEY = "72b40db471f8ea67f1862919642e8bff"
STORAGE_SECRET_KEY = "d014df05410c077c244f2d2511d06d64532cf42ef7040b3e592450f9c179f5b2"
STORAGE_BUCKET = "aigxt"
STORAGE_DOMAIN = "aigxt.com"

# Google Adsence Code
# https://adsense.com/
NEXT_PUBLIC_GOOGLE_ADCODE = ""
REPLICATE_API_TOKEN = "r8_GOaqQq8SSNo5lHbMW2J6im8lNi9sOMq0UIC0Q"

#这里是添加聊天端口的，答疑用的
NEXT_PUBLIC_OPENWIDGET_ORG_ID = "be56c597-a893-4c31-9117-d4980e1844c3"

# 可选：开关与其它配置
NEXT_PUBLIC_OPENWIDGET_ENABLED = "true"
NEXT_PUBLIC_OPENWIDGET_INTEGRATION = "manual_settings"
NEXT_PUBLIC_OPENWIDGET_PRODUCT = "openwidget"

#这PayPal的配置
# .env.local 或 .env.production
PAYPAL_CLIENT_ID=your_paypal_client_id
PAYPAL_CLIENT_SECRET=your_paypal_client_secret
PAYPAL_ENV=sandbox  # 或 production
PAYPAL_WEBHOOK_ID=your_webhook_id
NEXT_PUBLIC_PAYPAL_CLIENT_ID=your_paypal_client_id
PAY_PROVIDER=paypal  # 选择PayPal作为支付提供商
PAYPAL_PLANS={"basic-monthly":"P-PLAN-ID","pro-monthly":"P-PLAN-ID"}